<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="author"content="walter">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Image Profle</title>
	</head>
	<body>
		<nav class="navbar navbar-light bg-light">
			<a class="navbar-brand mb-0 h1"href="/">Inicio</a>
			<a class="navbar-brand mb-0 h1 mx-auto"href="/upload">Subir Imagen</a>
		</nav>
		<div class="container p-4">
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<div class="card animated fadeInDown">
						<img src="<%= image.path %>" class="card-img-top" alt="<%= image.filename %>">
						<div class="card-body">
							<h5 class="card-title">
								<%= image.title %>
							</h5>
							<p class="card-text">
							<%= image.description %>
							</p>
							<p>
							<%= format(image.created_at) %>
							</p>
							<a href="/contact"class="btn btn-primary btn-block">Chater con quien publico la imagen</a>
							<a href="/deleteI/<%= image._id %>" class="btn btn-danger btn-block">Eliminar Imagen</a>
							<div class="card" style="width: 18rem;">
								<div class="card-body">
									<h5 class="card-title"><%= image.users  %></h5>
									<p class="card-text"><%= image.commentary  %></p>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
